<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings><add name="Entities" connectionString="metadata=res://*/Models.ModelDataBase.csdl|res://*/Models.ModelDataBase.ssdl|res://*/Models.ModelDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=195bv-vte;persist security info=True;user id=195bv;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>