<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="testglazkiavtorEntities" connectionString="metadata=res://*/Requests.Model1.csdl|res://*/Requests.Model1.ssdl|res://*/Requests.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.20;initial catalog=testglazkiavtor;persist security info=True;user id=gitea;password=Pa$$word;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>